{% extends 'admin/adminbase.html' %}

{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load static %}

{% block title_block %}

{% endblock %}


{% block body_block %}
<!--  -->
<div class="">
   <div class="row">
      <div class="col"></div>
      <div class="col-8">
         <i class="bi bi-patch-check"></i>
         <p class="text-center">
            <i class="bi bi-patch-check"></i>
            -- Loan Amortization Schedule --
            <i class="bi bi-patch-check"></i>
         </p>
         <form action="{% url 'managerApp:amortization_schedule' %}" method="post">
            {% csrf_token %} {{form|crispy}}
            <input class="btn btn-dark" type="submit" value="Generate Schedule">
         </form>
      </div>
      <div class="col"></div>
   </div>
</div>
{% endblock %}
<!--  -->