{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title_block %}
WeChat
{% endblock %}

{% block body_block %}

{% include 'navbar.html' %}
<div class="container-fluid">
   <div class="row mb-5">
      <div class="p-5 m-auto rounded shadow-lg col-md-6 bg-body">
         <span>
            <h1>Welcome to WeChat ! <i style="color: teal;">{{request.user}}</i></h1>
         </span>
         <hr>
         <div class="id_message_send_button" id="id_chat_item_container">
            <input
               style="color: teal; font-family: 'Times New Roman', Times, serif; font-weight: 700; height: 45px; background-color: aquamarine;"
               type="text" placeholder="Enter your message and hit enter key" id="id_message_send_input"
               class="form-control" />
            <button type="submit" id="id_message_send_button" hidden>SEND</button>
            <hr>
         </div>
      </div>
   </div>
</div>
<!-- js -->
<script>
   const chatSocket = new WebSocket("ws://" + window.location.host + "/");
   chatSocket.onopen = function (e) {
      console.log("The connection was setup successfully !");
   };
   chatSocket.onclose = function (e) {
      console.log("Something unexpected happened !");
   };
   document.querySelector("#id_message_send_input").focus();
   document.querySelector("#id_message_send_input").onkeyup = function (e) {
      if (e.keyCode == 13) {
         document.querySelector("#id_message_send_button").click();
      }
   };
   document.querySelector("#id_message_send_button").onclick = function (e) {
      var messageInput = document.querySelector(
         "#id_message_send_input"
      ).value;
      chatSocket.send(JSON.stringify({ message: messageInput, username: "{{request.user.username}}" }));
   };
   chatSocket.onmessage = function (e) {
      const data = JSON.parse(e.data);
      var div = document.createElement("div");
      div.innerHTML = data.username + " : " + data.message;
      document.querySelector("#id_message_send_input").value = "";
      document.querySelector("#id_chat_item_container").appendChild(div);
   };
</script>

{% include "footer.html" %}

{% endblock %}